<h2><%= @workout_template.name %></h2>
<p><%= @workout_template.description %></p>
<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :name, :value => @workout_template.name %>
    <%= f.fields_for(:exercises) do |ff| %>
      <h3><%= ff.object.name %></h3>
      <%= ff.hidden_field :name, :value => ff.object.name %>
      <%= ff.label :reps, 'Reps' %><br>
      <%= ff.text_field :reps, :value => ff.object.reps %><br>
      <%= ff.label :weight, 'Weight' %><br>
      <%= ff.text_field :weight, :value => ff.object.weight %><br>
      <%= ff.label :rest, 'Rest Period' %><br>
      <%= ff.text_field :rest, :value => ff.object.rest %><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Workout' %>
  </div>
<% end %>
