<p id="notice"><%= notice %></p>
<h1>Workout History</h1>
<%= link_to 'Next Workout', user_next_workout_path %><br>
<% if @workouts.blank? %>
  <hr>
  <p> You haven't done any workouts yet. </p>
  <p> Start by <%= link_to 'choosing a program', programs_path %>.</p>
  <hr>
<% end %>
<% @workouts.reverse.each do |workout| %>
  <h3><%= workout.created_at.strftime("%d %b. %Y")%></h3>
  <h4><%= workout.name %></h4>

  <%= render layout: 'layouts/exercise_table' do %>
    <% workout.exercises.each do |exercise| %>
      <%= render partial: 'exercise_templates/exercise_template', locals: { exercise_template: exercise } %>
    <% end %>
  <% end %>

  <hr>
<% end %>
