<p id="notice"><%= notice %></p>
<h3><%= @workout.name %></h3>
<table>
  <tr>
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Weight</th>
    <th>Rest</th>
  </tr>
  <% @workout.exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.name %></td>
      <td><%= exercise.sets %></td>
      <td><%= exercise.reps %></td>
      <td><%= exercise.weight %></td>
      <td><%= exercise.rest %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', workouts_path %>
