<p id="notice"><%= notice %></p>
<h3><%= @workout.name %></h3>

<%= render layout: 'layouts/exercise_table' do %>
  <% @workout.exercises.each do |exercise| %>
    <%= render partial: 'exercise_templates/exercise_template', locals: { exercise_template: exercise } %>
  <% end %>
<% end %>

<%= link_to 'Back', workouts_path %>
