<%= form_for(@workout_template) do |f| %>
  <% if @workout_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_template.errors.count, "error") %> prohibited this workout_template from being saved:</h2>

      <ul>
      <% @workout_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, 'Workout Name' %><br>
    <%= f.text_field :name %><br>
    <%= f.label :description, 'Description' %><br>
    <%= f.text_area :description %><br>

    <% unless @templates.blank? %>
      <% @templates.each do |k, v| %>
        <%= f.fields_for :exercise_templates do |ff| %>
          <%= ff.label :name, 'Exercise Name' %><br>
          <%= ff.text_field :name, :value => v[:name] %><br>
          <%= ff.label :reps, 'Sets/Reps' %><br>
          <%= ff.text_field :reps, :value => v[:reps] %><br>
          <%= ff.label :starting_weight, 'Starting Weight (lbs)' %><br>
          <%= ff.number_field :starting_weight, :value => v[:starting_weight] %><br>
          <%= ff.label :rest, 'Rest Period (seconds)' %><br>
          <%= ff.number_field :rest, :value => v[:rest] %><br>
        <% end %>
      <% end %>
    <% end %>

    <% if params[:add_new_exercise] %>
      <%= f.fields_for :exercise_templates do |ff| %>
      <%= ff.label :name, 'Exercise Name' %><br>
        <%= ff.text_field :name %><br>
        <%= ff.label :reps, 'Sets/Reps' %><br>
        <%= ff.text_field :reps, :placeholder => "Ex. 5 5 5" %><br>
        <%= ff.label :starting_weight, 'Starting Weight (lbs)' %><br>
        <%= ff.number_field :starting_weight %><br>
        <%= ff.label :rest, 'Rest Period (seconds)' %><br>
        <%= ff.number_field :rest %><br>
      <% end %>
    <% end %>

    <% if params[:select_existing_exercise] %>
      <%= f.fields_for :exercise_templates do |ff| %>
        <%= ff.collection_select(:id, ExerciseTemplate.default_exercise_templates, :id, :name) %><br>
        <%= ff.submit 'Add Exercise', name: 'add_exercise' %>
      <% end %>
    <% end %>

    <% unless params[:select_existing_exercise]%>
      <%= f.submit 'Add New Exercise', name: 'add_new_exercise' %><br>
      <%= f.submit 'Select Existing Exercise', name: 'select_existing_exercise' %><br>
    <% end %>

    <%= remove_exercise_button(f) %><br>


    <% if @workout_template.persisted? %>
        <%= f.submit 'Update Workout', name: 'update_workout' unless @templates.try(:empty?) %>
    <% else %>
      <% if [:add_new_exercise, :add_exercise, :create_workout, :remove_exercise].any? {|k| params.key?(k)} %>
        <%= f.submit 'Create Workout', name: 'create_workout' unless @templates.try(:empty?) %>
      <% end %>
    <% end %>

  </div>
<% end %>
