<p id="notice"><%= notice %></p>
<h1><%= @workout_template.name %></h1>
<p>
  <% if current_user.id == @workout_template.owner_id%>
    <%= link_to 'Edit', edit_workout_template_path(@workout_template), class: "btn btn-danger btn-xs" %>
  <% end %>
  <%= @workout_template.description %>
</p>

<%= render layout: 'layouts/exercise_table' do %>
  <% @workout_template.exercise_templates.each do |et| %>
    <%= render partial: 'exercise_templates/exercise_template', locals: { exercise_template: et } %>
  <% end %>
<% end %>

<%= render 'layouts/creation_nav' %>
