<p id="notice"><%= notice %></p>
<h1>Workout Template#show</h1>
<h2><%= @workout_template.name %></h2>
<p><%= @workout_template.description %></p>

<table>
  <tr>
    <th>
      Exercise
    </th>
    <th>
      Sets
    </th>
    <th>
      Reps
    </th>
    <th>
      Weight (lbs)
    </th>
    <th>
      Rest (seconds)
    </th>
  </tr>
  <%= render @workout_template.exercise_templates %>
</table>
<%= render 'layouts/creation_nav' %><br>
<%= link_to 'Edit', edit_workout_template_path(@workout_template) if current_user.id == @workout_template.owner_id %>
<%= link_to 'Back', workout_templates_path %>
