<tr>
  <td>
    <%= exercise_template.name %>
  </td>
  <td>
    <%= exercise_template.sets %>
  </td>
  <td>
    <%= exercise_template.reps %>
  </td>
  <td>
    <%= exercise_template.weight %>
  </td>
  <td>
    <%= exercise_template.rest %>
  </td>
</tr>
