<%= form_for(@exercise_template) do |f| %>
  <% if @exercise_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_template.errors.count, "error") %> prohibited this exercise_template from being saved:</h2>

      <ul>
      <% @exercise_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    Exercise Name: <%= f.text_field :name %><br>
    Sets/Reps: <%= f.text_field :reps, :placeholder => "Ex. 5 5 5" %><br>
    Starting Weight (lbs): <%= f.number_field :starting_weight %><br>
    Rest Period (seconds): <%= f.number_field :rest %><br>
    <%= f.submit %>
  </div>
<% end %>
