<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    Name: <%= f.text_field :name %><br>
    Description: <%= f.text_field :description %><br>

    <% if params.dig(:program,:workout_templates_attributes) %>
      <% @templates.each do |k, v| %>
        <%= workout_template_selection(f, v) %><br>
      <% end %>
    <% end %>

    <% unless params.key?(:remove_workout) %>
      <%= f.fields_for :workout_templates do |ff| %>
        <%= workout_template_selection(f) %><br>
      <% end %>
    <% end %>

    <%= f.submit 'Add Workout', name: 'add_workout' %>
    <%= remove_workout_button(f) %>
    <%= f.submit %>
  </div>
<% end %>
