<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    Name: <%= f.text_field :name %><br>
    Description: <%= f.text_field :description %><br>
    Add Workout: <%= f.collection_select(:workout_templates, WorkoutTemplate.all, :id, :name) %><br>
    <%= f.submit %>
  </div>
<% end %>
