<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    Name: <%= f.text_field :name %><br>
    Description: <%= f.text_field :description %><br>

      <% if !params.nil? && params.key?(:program) && params[:program].key?(:workout_templates_attributes) %>
        <% params[:program][:workout_templates_attributes].each do |k, v| %>
          <%= f.fields_for :workout_templates do |ff| %>
            <%= ff.collection_select(:id, WorkoutTemplate.all, :id, :name, {:selected => v['id'] }) %><br>
          <% end %>
        <% end %>
      <% end %>

      <%= f.fields_for :workout_templates do |ff| %>
        <%= ff.collection_select(:id, WorkoutTemplate.all, :id, :name) %><br>
      <% end %>




    <%= f.submit 'Add Workout', name: 'add_workout' %>
    <%= f.submit %>
  </div>
<% end %>
