<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name %><br>
    <%= f.label :description, 'Description' %><br>
    <%= f.text_area :description %><br>

    <% unless @templates.blank? %>
      <% @templates.each do |k, v| %>
        <%= workout_template_selection(f, v) %><br>
      <% end %>
    <% end %>

    <% if params.key?(:select_workout) %>
      <%= f.fields_for :workout_templates do |ff| %>
        <%= workout_template_selection(f) %><br>
        <%= ff.submit 'Add This Workout', name: 'add_workout' %>
      <% end %>
    <% end %>


    <%= f.submit 'Add A Workout', name: 'select_workout' unless params.key?(:select_workout)%>
    <%= remove_workout_button(f) %>
    <% if @program.persisted? %>
      <%= f.submit 'Update Program', name: 'create_program' unless @templates.blank? %>
    <% else %>
      <%= f.submit 'Create Program', name: 'create_program' if params[:add_workout] || params[:create_program] %>
    <% end %>
  </div>
<% end %>
