<h1>Programs#edit</h1>
<p>Find me in app/views/programs/edit.html.erb</p>

<%= render 'form' %>
<%= link_to 'View All Available Workout Templates', workout_templates_path %><br>
<%= link_to 'Create New Workout Template', new_workout_template_path %><br>
<%= link_to 'View All Available Exercises', exercise_templates_path %><br>
<%= link_to 'Create New Exercise Template', new_exercise_template_path %><br>
