<h1>Programs#new</h1>
<p>Find me in app/views/programs/new.html.erb</p>
<p>New Workout Form goes here. Should be able to both Add a workout here, and create one.</p>

<%= link_to 'View All Available Workout Templates', workout_templates_path %><br>
<%= link_to 'Create New Workout Template', new_workout_template_path %><br>
<%= link_to 'View All Available Exercises', exercise_templates_path %><br>
<%= link_to 'Create New Exercise Template', new_exercise_template_path %><br>
<%= render 'layouts/login_nav' %>
