<h1>Programs#show</h1>
<p>Find me in app/views/programs/show.html.erb</p>

<h1><%= @program.name %></h1>
<h3><%= @program.description %></h3>
<p>By <%= @program.owner_name %></p>

<% @program.workout_templates.each do |workout_template| %>
  <%= workout_template.name %><br>
  <%= workout_template.description %><br>
  <% workout_template.exercise_templates.each do |exercise_template| %>
    Exercise Name: <%= exercise_template.name %><br>
    Sets: <%= exercise_template.sets %><br>
    Reps: <%= exercise_template.reps %><br>
    Starting Weight: <%= exercise_template.weight %> lbs<br>
    Rest Period: <%= exercise_template.rest %> seconds<br>
  <% end %>
  <br>
<% end %>
<p>Add a 'copy to my programs' button.</p>
<%= button_to "Do This Program", action: "select" %>
<%= link_to 'Edit Program', edit_program_path(@program) if current_user.id == @program.owner_id %>
<%= link_to "Delete Program", program_path(@program), method: :delete, data: {confirm: "Are you sure? This can not be undone"} if current_user.id == @program.owner_id %>
